<div class="user-card">
  <div>
    <h3>{{user.username}}</h3>
    <span>{{user.name}} - {{user.email}}</span>
  </div>
  <button (click)="onClick()">{{!isOpen? 'show': 'hide'}} posts</button>
  <div class="init" [class.show]="isOpen">
<app-post *ngFor="let post of posts" [post]="post"
></app-post>
  </div>
  <button (click)="onAlbumsClick()">{{!isOpen? 'show': 'hide'}} albums</button>
  <div class="init" [class.show]="AlbumDisable">
<app-album *ngFor="let album of albums"  [album]="album"
></app-album>
  </div>
</div>
